asarPy==1.0.1
astroid==3.2.4
autopep8==2.3.1
babel==2.16.0
black==24.8.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.8
flake8==7.1.1
idna==3.7
isort==5.13.2
mccabe==0.7.0
mypy==1.11.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pep8==1.7.1
platformdirs==4.2.2
pycodestyle==2.12.1
pyflakes==3.2.0
pylint==3.2.6
requests==2.32.3
Tcl==0.2
tk==0.1.0
tkcalendar==1.6.1
tomlkit==0.13.0
typing_extensions==4.12.2
urllib3==2.2.2
